@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #f9fafb;
  --foreground: #111827;
}

.dark {
  --background: #030712;
  --foreground: #f9fafb;
}


body {
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s ease, color 0.3s ease;
}


* {
  box-sizing: border-box;
}